In [25]:
#code to read data from snowflake using FosforML
 
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()
 
table_name = 'CUSTOMER_TRANSACTION_DIM1'
 
sf_df = my_session.sql("select * from {}".format(table_name)) 

df = sf_df.to_pandas() 
 
print(df.shape) 

df.head(100)

INFO:snowflake.connector.connection:Snowflake Connector for Python Version: 3.12.2, Python Version: 3.9.19, Platform: Linux-5.4.181-99.354.amzn2.x86_64-x86_64-with-glibc2.34
DEBUG:snowflake.connector.connection:connect
DEBUG:snowflake.connector.connection:__config
INFO:snowflake.connector.connection:Connecting to GLOBAL Snowflake domain
INFO:snowflake.connector.connection:This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.
DEBUG:snowflake.connector.converter:use_numpy: False
DEBUG:snowflake.connector.connection:REST API object was created: snowflake.prod3.us-west-2.aws.snowflakecomputing.com:443
DEBUG:snowflake.connector.auth._auth:authenticate
DEBUG:snowflake.connector.auth._auth:assertion content: ver:1-hint:54902567116806-ETMsDgAAAZIySj4WABRBRVMvQ0JDL1BLQ1M1UGFkZGluZwEAABAAEBPHL/0ttzNHjMeOhbTQDRMAAACAMTFT7S52twawzGdYdv+wuUo11gasKl2p3HSOR6jm9ZgOsdv6zfQO7BLewI3UH/HjcRnC0esiIanjgcWrw33AdJS1zrTp/EZe/1Ege3NcORIpUFSV7FQIsoKMQSDLXR7DAbvaTDTeDlwWUsLTGBNnucfXh/AZ0JEILsBzDiN8SQAAFOki+5gfUIE0jhw56Z2vbLMwyX1Z
DEBUG:snowflake.connector.auth._auth:account=TJB70271, user=, database=USECASE_DB_BFSI, schema=BRONZE, warehouse=FDC_WAREHOUSE, role=None, request_id=ddff308d-02a9-488d-a810-dcc4615f180b
DEBUG:snowflake.connector.auth._auth:body['data']: {'CLIENT_APP_ID': 'PythonConnector', 'CLIENT_APP_VERSION': '3.12.2', 'SVN_REVISION': None, 'ACCOUNT_NAME': 'TJB70271', 'LOGIN_NAME': '', 'CLIENT_ENVIRONMENT': {'APPLICATION': 'PythonConnector', 'OS': 'Linux', 'OS_VERSION': 'Linux-5.4.181-99.354.amzn2.x86_64-x86_64-with-glibc2.34', 'PYTHON_VERSION': '3.9.19', 'PYTHON_RUNTIME': 'CPython', 'PYTHON_COMPILER': 'GCC 11.2.0', 'OCSP_MODE': 'FAIL_OPEN', 'TRACING': 10, 'LOGIN_TIMEOUT': None, 'NETWORK_TIMEOUT': None, 'SOCKET_TIMEOUT': None}, 'AUTHENTICATOR': 'OAUTH', 'TOKEN': 'ver:1-hint:54902567116806-ETMsDgAAAZIySj4WABRBRVMvQ0JDL1BLQ1M1UGFkZGluZwEAABAAEBPHL/0ttzNHjMeOhbTQDRMAAACAMTFT7S52twawzGdYdv+wuUo11gasKl2p3HSOR6jm9ZgOsdv6zfQO7BLewI3UH/HjcRnC0esiIanjgcWrw33AdJS1zrTp/EZe/1Ege3NcORIpUFSV7FQIsoKMQSDLXR7DAbvaTDTeDlwWUsLTGBNnucfXh/AZ0JEILsBzDiN8SQAAFOki+5gfUIE0jhw56Z2vbLMwyX1Z', 'SESSION_PARAMETERS': {'CLIENT_SESSION_KEEP_ALIVE': True, 'CLIENT_PREFETCH_THREADS': 4}}
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.network:Session status for SessionPool 'snowflake.prod3.us-west-2.aws.snowflakecomputing.com', SessionPool 1/1 active sessions
DEBUG:snowflake.connector.network:remaining request timeout: N/A ms, retry cnt: 1
DEBUG:snowflake.connector.network:Request guid: f8cd5bc8-32d4-4780-a774-569cb8ff55b7
DEBUG:snowflake.connector.network:socket timeout: 60
DEBUG:snowflake.connector.vendored.urllib3.connectionpool:Starting new HTTPS connection (1): snowflake.prod3.us-west-2.aws.snowflakecomputing.com:443
DEBUG:snowflake.connector.ssl_wrap_socket:OCSP Mode: FAIL_OPEN, OCSP response cache file name: None
DEBUG:snowflake.connector.ocsp_snowflake:ocsp_response_cache_uri: file:///home/mosaic-ai/.cache/snowflake/ocsp_response_cache.json
DEBUG:snowflake.connector.ocsp_snowflake:OCSP_VALIDATION_CACHE size: 310
DEBUG:snowflake.connector.ocsp_snowflake:OCSP response cache server is enabled: http://ocsp.snowflakecomputing.com/ocsp_response_cache.json
DEBUG:snowflake.connector.ocsp_snowflake:OCSP dynamic cache server RETRY URL: None
DEBUG:snowflake.connector.ocsp_snowflake:validating certificate: snowflake.prod3.us-west-2.aws.snowflakecomputing.com
DEBUG:snowflake.connector.ocsp_asn1crypto:# of certificates: 4
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('common_name', '*.prod3.us-west-2.snowflakecomputing.com')]), issuer: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon RSA 2048 M03')])
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon RSA 2048 M03')]), issuer: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon Root CA 1')])
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon Root CA 1')]), issuer: OrderedDict([('country_name', 'US'), ('state_or_province_name', 'Arizona'), ('locality_name', 'Scottsdale'), ('organization_name', 'Starfield Technologies, Inc.'), ('common_name', 'Starfield Services Root Certificate Authority - G2')])
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('country_name', 'US'), ('state_or_province_name', 'Arizona'), ('locality_name', 'Scottsdale'), ('organization_name', 'Starfield Technologies, Inc.'), ('common_name', 'Starfield Services Root Certificate Authority - G2')]), issuer: OrderedDict([('country_name', 'US'), ('organization_name', 'Starfield Technologies, Inc.'), ('organizational_unit_name', 'Starfield Class 2 Certification Authority')])
DEBUG:snowflake.connector.ocsp_asn1crypto:not found issuer_der: OrderedDict([('country_name', 'US'), ('organization_name', 'Starfield Technologies, Inc.'), ('organizational_unit_name', 'Starfield Class 2 Certification Authority')])
DEBUG:snowflake.connector.ocsp_snowflake:hit cache for subject: OrderedDict([('common_name', '*.prod3.us-west-2.snowflakecomputing.com')])
DEBUG:snowflake.connector.ocsp_asn1crypto:Verifying the attached certificate is signed by the issuer. Valid Not After: 2025-12-10 00:00:00+00:00
DEBUG:snowflake.connector.ocsp_snowflake:hit cache for subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon RSA 2048 M03')])
DEBUG:snowflake.connector.ocsp_asn1crypto:Verifying the attached certificate is signed by the issuer. Valid Not After: 2025-12-10 00:00:00+00:00
DEBUG:snowflake.connector.ocsp_snowflake:hit cache for subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon Root CA 1')])
DEBUG:snowflake.connector.ocsp_asn1crypto:Verifying the attached certificate is signed by the issuer. Valid Not After: 2025-05-07 12:00:00+00:00
DEBUG:snowflake.connector.ocsp_snowflake:hit cache for subject: OrderedDict([('country_name', 'US'), ('state_or_province_name', 'Arizona'), ('locality_name', 'Scottsdale'), ('organization_name', 'Starfield Technologies, Inc.'), ('common_name', 'Starfield Services Root Certificate Authority - G2')])
DEBUG:snowflake.connector.ocsp_snowflake:ok
DEBUG:snowflake.connector.vendored.urllib3.connectionpool:https://snowflake.prod3.us-west-2.aws.snowflakecomputing.com:443 "POST /session/v1/login-request?request_id=ddff308d-02a9-488d-a810-dcc4615f180b&databaseName=USECASE_DB_BFSI&schemaName=BRONZE&warehouse=FDC_WAREHOUSE&request_guid=f8cd5bc8-32d4-4780-a774-569cb8ff55b7 HTTP/1.1" 200 1714
DEBUG:snowflake.connector.network:SUCCESS
DEBUG:snowflake.connector.network:Session status for SessionPool 'snowflake.prod3.us-west-2.aws.snowflakecomputing.com', SessionPool 0/1 active sessions
DEBUG:snowflake.connector.network:ret[code] = None, after post request
DEBUG:snowflake.connector.auth._auth:completed authentication
DEBUG:snowflake.connector.auth._auth:token = ******
DEBUG:snowflake.connector.auth._auth:master_token = ******
DEBUG:snowflake.connector.auth._auth:id_token = NULL
DEBUG:snowflake.connector.auth._auth:mfa_token = NULL
DEBUG:snowflake.connector.connection:started heartbeat
DEBUG:snowflake.connector.connection:cursor
INFO:snowflake.snowpark.session:Snowpark Session information:
"version" : 1.22.1,
"python.version" : 3.9.19,
"python.connector.version" : 3.12.2,
"python.connector.session.id" : 54902567878750,
"os.name" : Linux

DEBUG:snowflake.connector.cursor:executing SQL/command
DEBUG:snowflake.connector.cursor:query: [select * from CUSTOMER_TRANSACTION_DIM1]
DEBUG:snowflake.connector.connection:parameters: ()
DEBUG:snowflake.connector.cursor:binding: [select * from CUSTOMER_TRANSACTION_DIM1] with input=[[]], processed=[()]
DEBUG:snowflake.connector.connection:sequence counter: 1
DEBUG:snowflake.connector.cursor:Request id: 681f1515-14ef-4042-9083-713b01c1fa72
DEBUG:snowflake.connector.cursor:running query [select * from CUSTOMER_TRANSACTION_DIM1]
DEBUG:snowflake.connector.cursor:is_file_transfer: True
DEBUG:snowflake.connector.connection:_cmd_query
DEBUG:snowflake.connector._query_context_cache:serialize_to_dict() called
DEBUG:snowflake.connector.connection:sql=[select * from CUSTOMER_TRANSACTION_DIM1], sequence_id=[1], is_file_transfer=[False]
DEBUG:snowflake.connector.network:Opentelemtry otel injection failed because of: No module named 'opentelemetry'
DEBUG:snowflake.connector.network:Session status for SessionPool 'snowflake.prod3.us-west-2.aws.snowflakecomputing.com', SessionPool 1/1 active sessions
DEBUG:snowflake.connector.network:remaining request timeout: N/A ms, retry cnt: 1
DEBUG:snowflake.connector.network:Request guid: 7870f3b5-68b4-45a6-b8ae-639d7bde4eff
DEBUG:snowflake.connector.network:socket timeout: 60
DEBUG:snowflake.connector.vendored.urllib3.connectionpool:https://snowflake.prod3.us-west-2.aws.snowflakecomputing.com:443 "POST /queries/v1/query-request?requestId=681f1515-14ef-4042-9083-713b01c1fa72&request_guid=7870f3b5-68b4-45a6-b8ae-639d7bde4eff HTTP/1.1" 200 2818
DEBUG:snowflake.connector.network:SUCCESS
DEBUG:snowflake.connector.network:Session status for SessionPool 'snowflake.prod3.us-west-2.aws.snowflakecomputing.com', SessionPool 0/1 active sessions
DEBUG:snowflake.connector.network:ret[code] = None, after post request
DEBUG:snowflake.connector.network:Query id: 01b74e48-0003-0cb3-0000-31ef0011b056
DEBUG:snowflake.connector._query_context_cache:deserialize_json_dict() called: data from server: {'entries': [{'id': 0, 'timestamp': 1727420692881275, 'priority': 0}]}
DEBUG:snowflake.connector._query_context_cache:deserialize {'id': 0, 'timestamp': 1727420692881275, 'priority': 0}
DEBUG:snowflake.connector._query_context_cache:sync_priority_map called priority_map size = 0, new_priority_map size = 1
DEBUG:snowflake.connector._query_context_cache:trim_cache() called. treeSet size is 1 and cache capacity is 5
DEBUG:snowflake.connector._query_context_cache:trim_cache() returns. treeSet size is 1 and cache capacity is 5
DEBUG:snowflake.connector._query_context_cache:deserialize_json_dict() returns
DEBUG:snowflake.connector._query_context_cache:Cache Entry: (0, 1727420692881275, 0)
DEBUG:snowflake.connector.cursor:sfqid: 01b74e48-0003-0cb3-0000-31ef0011b056
DEBUG:snowflake.connector.cursor:query execution done
DEBUG:snowflake.connector.cursor:SUCCESS
DEBUG:snowflake.connector.cursor:PUT OR GET: False
DEBUG:snowflake.connector.cursor:Query result format: arrow
DEBUG:snowflake.connector.result_batch:chunk size=8
INFO:snowflake.connector.cursor:Number of results in first chunk: 0
DEBUG:snowflake.snowpark._internal.server_connection:Execute query [queryID: 01b74e48-0003-0cb3-0000-31ef0011b056] select * from CUSTOMER_TRANSACTION_DIM1
DEBUG:snowflake.connector.result_set:result batch 1 has id: data_0_0_0
DEBUG:snowflake.connector.result_set:result batch 2 has id: data_0_0_1
DEBUG:snowflake.connector.result_set:result batch 3 has id: data_0_0_2
DEBUG:snowflake.connector.result_set:result batch 4 has id: data_0_0_3
DEBUG:snowflake.connector.result_set:result batch 5 has id: data_0_0_4
DEBUG:snowflake.connector.result_set:result batch 6 has id: data_0_0_5
DEBUG:snowflake.connector.result_set:result batch 7 has id: data_0_0_6
DEBUG:snowflake.connector.result_set:result batch 8 has id: data_0_0_7
DEBUG:snowflake.connector.result_set:beginning to schedule result batch downloads
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_0
DEBUG:snowflake.connector.result_batch:started downloading result batch id: data_0_0_0
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_1
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.network:Session status for SessionPool 'None', SessionPool 1/1 active sessions
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_2
DEBUG:snowflake.connector.result_batch:started downloading result batch id: data_0_0_1
DEBUG:snowflake.connector.result_batch:downloading result batch id: data_0_0_0 with existing session <snowflake.connector.vendored.requests.sessions.Session object at 0x7fbc4f9767f0>
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.result_batch:started downloading result batch id: data_0_0_2
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_3
DEBUG:snowflake.connector.vendored.urllib3.connectionpool:Starting new HTTPS connection (1): spcs-ap-mpcp0000-s-fmcrhu8cfnpyhadxnk6zkmgh7fkegusw2a-s3alias.s3.us-west-2.amazonaws.com:443
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.network:Session status for SessionPool 'None', SessionPool 2/2 active sessions
DEBUG:snowflake.connector.result_batch:started downloading result batch id: data_0_0_3
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_4
DEBUG:snowflake.connector.result_batch:downloading result batch id: data_0_0_1 with existing session <snowflake.connector.vendored.requests.sessions.Session object at 0x7fbc4f988820>
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_5
DEBUG:snowflake.connector.vendored.urllib3.connectionpool:Starting new HTTPS connection (1): spcs-ap-mpcp0000-s-fmcrhu8cfnpyhadxnk6zkmgh7fkegusw2a-s3alias.s3.us-west-2.amazonaws.com:443
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.network:Session status for SessionPool 'None', SessionPool 3/3 active sessions
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_6
DEBUG:snowflake.connector.vendored.urllib3.util.retry:Converted retries value: 1 -> Retry(total=1, connect=None, read=None, redirect=None, status=None)
DEBUG:snowflake.connector.result_batch:downloading result batch id: data_0_0_2 with existing session <snowflake.connector.vendored.requests.sessions.Session object at 0x7fbc4f988370>
DEBUG:snowflake.connector.result_set:queuing download of result batch id: data_0_0_7
DEBUG:snowflake.connector.network:Session status for SessionPool 'None', SessionPool 4/4 active sessions
DEBUG:snowflake.connector.result_batch:downloading result batch id: data_0_0_3 with existing session <snowflake.connector.vendored.requests.sessions.Session object at 0x7fbc4f988af0>
DEBUG:snowflake.connector.vendored.urllib3.connectionpool:Starting new HTTPS connection (1): spcs-ap-mpcp0000-s-fmcrhu8cfnpyhadxnk6zkmgh7fkegusw2a-s3alias.s3.us-west-2.amazonaws.com:443
DEBUG:snowflake.connector.vendored.urllib3.connectionpool:Starting new HTTPS connection (1): spcs-ap-mpcp0000-s-fmcrhu8cfnpyhadxnk6zkmgh7fkegusw2a-s3alias.s3.us-west-2.amazonaws.com:443
DEBUG:snowflake.connector.ssl_wrap_socket:OCSP Mode: FAIL_OPEN, OCSP response cache file name: None
DEBUG:snowflake.connector.ocsp_snowflake:ocsp_response_cache_uri: file:///home/mosaic-ai/.cache/snowflake/ocsp_response_cache.json
DEBUG:snowflake.connector.ocsp_snowflake:OCSP_VALIDATION_CACHE size: 310
DEBUG:snowflake.connector.ocsp_snowflake:OCSP response cache server is enabled: http://ocsp.snowflakecomputing.com/ocsp_response_cache.json
DEBUG:snowflake.connector.ocsp_snowflake:OCSP dynamic cache server RETRY URL: None
DEBUG:snowflake.connector.ocsp_snowflake:validating certificate: spcs-ap-mpcp0000-s-fmcrhu8cfnpyhadxnk6zkmgh7fkegusw2a-s3alias.s3.us-west-2.amazonaws.com
DEBUG:snowflake.connector.ocsp_asn1crypto:# of certificates: 4
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('common_name', '*.s3-us-west-2.amazonaws.com')]), issuer: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon RSA 2048 M01')])
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon RSA 2048 M01')]), issuer: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon Root CA 1')])
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon Root CA 1')]), issuer: OrderedDict([('country_name', 'US'), ('state_or_province_name', 'Arizona'), ('locality_name', 'Scottsdale'), ('organization_name', 'Starfield Technologies, Inc.'), ('common_name', 'Starfield Services Root Certificate Authority - G2')])
DEBUG:snowflake.connector.ocsp_asn1crypto:subject: OrderedDict([('country_name', 'US'), ('state_or_province_name', 'Arizona'), ('locality_name', 'Scottsdale'), ('organization_name', 'Starfield Technologies, Inc.'), ('common_name', 'Starfield Services Root Certificate Authority - G2')]), issuer: OrderedDict([('country_name', 'US'), ('organization_name', 'Starfield Technologies, Inc.'), ('organizational_unit_name', 'Starfield Class 2 Certification Authority')])
DEBUG:snowflake.connector.ocsp_asn1crypto:not found issuer_der: OrderedDict([('country_name', 'US'), ('organization_name', 'Starfield Technologies, Inc.'), ('organizational_unit_name', 'Starfield Class 2 Certification Authority')])
DEBUG:snowflake.connector.ssl_wrap_socket:OCSP Mode: FAIL_OPEN, OCSP response cache file name: None
DEBUG:snowflake.connector.ocsp_snowflake:hit cache for subject: OrderedDict([('common_name', '*.s3-us-west-2.amazonaws.com')])
DEBUG:snowflake.connector.ocsp_asn1crypto:Verifying the attached certificate is signed by the issuer. Valid Not After: 2025-12-10 00:00:00+00:00
DEBUG:snowflake.connector.ocsp_snowflake:hit cache for subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon RSA 2048 M01')])
DEBUG:snowflake.connector.ocsp_snowflake:ocsp_response_cache_uri: file:///home/mosaic-ai/.cache/snowflake/ocsp_response_cache.json
DEBUG:snowflake.connector.ocsp_snowflake:OCSP_VALIDATION_CACHE size: 310
DEBUG:snowflake.connector.ssl_wrap_socket:OCSP Mode: FAIL_OPEN, OCSP response cache file name: None
DEBUG:snowflake.connector.ocsp_asn1crypto:Verifying the attached certificate is signed by the issuer. Valid Not After: 2025-12-10 00:00:00+00:00
DEBUG:snowflake.connector.ocsp_snowflake:hit cache for subject: OrderedDict([('country_name', 'US'), ('organization_name', 'Amazon'), ('common_name', 'Amazon Root CA 1')])
DEBUG:snowflake.connector.ocsp_snowflake:OCSP response cache server is enabled: http://ocsp.snowflakecomputing.com/ocsp_response_cache.json
DEBUG:snowflake.connector.ocsp_snowflake:ocsp_response_cache_uri: file:///home/mosaic-ai/.cache/snowflake/ocsp_response_cache.json
DEBUG:snowflake.connector.ssl_wrap_socket:OCSP Mode: FAIL_OPEN, OCSP response cache file name: None

(122882, 29)

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,...,MARITAL_STATUS,GENDER,DEPENDENTS,BANK_ACCOUNT_TYPE,BALANCE,BALANCE_FREQUENCY,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
0,PNC8037640c-94ea-4339-9665-ae95266fb,FEMALE,49,Undisclosed,Undisclosed,2000-05-12,Undisclosed,101.1240,0.0000,103.9860,...,Single,West,No Dependents,Savings,42.332275,Very high,1050.0,0.000000,0.00,0.0
1,PNCa191f74d-5afb-48f6-86eb-8b192cc6f,FEMALE,30,Undisclosed,Undisclosed,2006-05-12,Undisclosed,98.7390,0.0000,103.0320,...,Single,West,No Dependents,Savings,38.446704,Very high,1090.0,0.000000,0.00,0.0
2,PNC4dcce459-619d-4bc1-b4f9-3f33c4b20,MALE,20,Undisclosed,Undisclosed,2021-04-12,Undisclosed,98.7390,0.0000,89.6760,...,Single,West,No Dependents,Savings,37.219682,High,910.0,0.000000,0.00,0.0
3,PNC17e507c0-0854-4785-8aa0-d77e1be74,FEMALE,25,Undisclosed,Undisclosed,2022-06-12,Undisclosed,102.0780,0.0000,88.7220,...,Single,West,No Dependents,Savings,42.945786,High,940.0,0.000000,0.00,0.0
4,PNCbc85f095-e62d-4b8f-9a57-22ea37cc2,MALE,61,Undisclosed,Undisclosed,2007-08-12,Undisclosed,0.0000,0.0000,0.0000,...,Married,North,Two Dependents,Credit,3202.467416,Very high,7000.0,6442.945483,0.25,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,PNC4f1cb60f-bf6a-4b93-8d7d-48b788380,FEMALE,54,Undisclosed,Undisclosed,2010-06-12,Undisclosed,809.8006,601.9559,212.0000,...,Single,West,One Dependent,Checking,1050.448900,Very high,7630.0,0.000000,0.00,0.0
96,PNC7783dda3-d7d7-4afe-9b80-af53578f5,FEMALE,38,Undisclosed,Undisclosed,2006-07-12,Undisclosed,1191.8880,1326.4560,0.0000,...,Single,East,One Dependent,Credit,140.047897,Average,10450.0,0.000000,0.00,0.0
97,PNC80ae50e1-9009-4325-9f80-a964520ab,MALE,32,Undisclosed,Undisclosed,2016-03-12,Undisclosed,1326.4560,1191.8880,0.0000,...,Single,East,One Dependent,Credit,144.614676,Average,10615.0,0.000000,0.00,0.0
98,PNC3bc13dca-fedd-45ef-b576-a9e9acf2d,MALE,26,Undisclosed,Undisclosed,2022-04-12,Undisclosed,837.3092,0.0000,993.7296,...,Single,East,One Dependent,Checking,1383.643685,Very high,1284.0,0.000000,0.00,0.0
99,PNC27272406-cc49-4f79-8a32-353bde219,FEMALE,62,Undisclosed,Undisclosed,2022-04-12,Undisclosed,864.9128,0.0000,1002.9308,...,Single,East,One Dependent,Checking,1409.506184,Very high,1308.0,0.000000,0.00,0.0

In [26]:
type(sf_df)

snowflake.snowpark.dataframe.DataFrame

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.describe()

,AGE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,BALANCE,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
count,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000
mean,43.797562,1099.564457,664.464070,433.436971,15.651714,1905.326844,904.191004,0.144282,1754.150353,4992.170999,1040.357561,0.138151,3.330813
std,14.657011,2326.985730,1796.346935,968.862796,26.447019,3097.091529,2492.709290,0.283152,2212.505505,3785.952399,2177.373457,0.203030,6.875069
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31.000000,36.660000,0.000000,0.000000,0.940000,436.491025,169.036005,0.000000,174.936826,1944.000000,0.000000,0.000000,0.000000
50%,44.000000,393.760000,70.850000,79.900000,7.360000,969.973369,336.723916,0.000000,1023.875197,3906.000000,0.000000,0.000000,0.000000
75%,56.000000,1219.995600,674.375100,490.990500,18.630000,2088.197081,893.466612,0.107000,2390.085192,6975.000000,1222.121879,0.230000,3.860000
max,69.000000,49039.570000,43873.984800,22500.000000,378.230000,51154.352082,76406.207520,1.000000,20160.158820,30240.000000,47137.211760,1.500000,123.000000

In [29]:
df.corr(numeric_only=True)

,AGE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,BALANCE,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
AGE,1.000000,-0.003422,-0.001764,-0.005442,-0.000449,-0.004286,-0.004130,-0.001723,-0.002690,-0.001197,0.000594,0.001065,-0.000919
PURCHASES,-0.003422,1.000000,0.915501,0.681649,0.689996,0.608238,0.092788,0.196549,0.170269,0.347433,-0.055261,-0.125034,-0.069274
ONEOFF_PURCHASES,-0.001764,0.915501,1.000000,0.342491,0.549837,0.573336,0.047017,0.153391,0.150717,0.308378,-0.037296,-0.091939,-0.051950
INSTALLMENTS_PURCHASES,-0.005442,0.681649,0.342491,1.000000,0.631315,0.391427,0.132151,0.186583,0.126604,0.259333,-0.063515,-0.129466,-0.070100
PURCHASES_TRX,-0.000449,0.689996,0.549837,0.631315,1.000000,0.375372,0.097213,0.178769,0.148087,0.268766,-0.077618,-0.133124,-0.065074
PAYMENTS,-0.004286,0.608238,0.573336,0.391427,0.375372,1.000000,0.128724,0.131356,0.306302,0.409118,0.440467,0.177074,0.250255
MINIMUM_PAYMENTS,-0.004130,0.092788,0.047017,0.132151,0.097213,0.128724,1.000000,-0.131016,0.397366,0.114865,0.140995,0.106273,0.117000
PRC_FULL_PAYMENT,-0.001723,0.196549,0.153391,0.186583,0.178769,0.131356,-0.131016,1.000000,-0.323597,0.091885,-0.148021,-0.246145,-0.170638
BALANCE,-0.002690,0.170269,0.150717,0.126604,0.148087,0.306302,0.397366,-0.323597,1.000000,0.500182,0.486007,0.455957,0.392495
CREDIT_LIMIT,-0.001197,0.347433,0.308378,0.259333,0.268766,0.409118,0.114865,0.091885,0.500182,1.000000,0.288915,0.126776,0.147525
CASH_ADVANCE,0.000594,-0.055261,-0.037296,-0.063515,-0.077618,0.440467,0.140995,-0.148021,0.486007,0.288915,1.000000,0.632405,0.665014
CASH_ADVANCE_FREQUENCY,0.001065,-0.125034,-0.091939,-0.129466,-0.133124,0.177074,0.106273,-0.246145,0.455957,0.126776,0.632405,1.000000,0.806364
CASH_ADVANCE_TRX,-0.000919,-0.069274,-0.051950,-0.070100,-0.065074,0.250255,0.117000,-0.170638,0.392495,0.147525,0.665014,0.806364,1.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122882 entries, 0 to 122881
Data columns (total 29 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   CUSTOMER_ID                       122882 non-null  object
 1   SEX                               122882 non-null  object
 2   AGE                               122882 non-null  int8
 3   OCCUPATION                        122882 non-null  object
 4   EDUCATION_LEVEL                   122882 non-null  object
 5   REGISTRATION_DATE                 122882 non-null  object
 6   HOBBIES                           122882 non-null  object
 7   PURCHASES                         122882 non-null  float64
 8   ONEOFF_PURCHASES                  122882 non-null  float64
 9   INSTALLMENTS_PURCHASES            122882 non-null  float64
 10  PURCHASES_FREQUENCY               122882 non-null  object
 11  ONEOFF_PURCHASES_FREQUENCY        122882 non-null  object
 12  PURCHASES_INSTALLMENTS_FREQUENCY  122882 non-null  object
 13  PURCHASES_TRX                     122882 non-null  float64
 14  PAYMENTS                          122882 non-null  float64
 15  MINIMUM_PAYMENTS                  122882 non-null  float64
 16  PRC_FULL_PAYMENT                  122882 non-null  float64
 17  DATE                              122882 non-null  object
 18  EMPLOYMENT_STATUS                 122882 non-null  object
 19  MARITAL_STATUS                    122882 non-null  object
 20  GENDER                            122882 non-null  object
 21  DEPENDENTS                        122882 non-null  object
 22  BANK_ACCOUNT_TYPE                 122882 non-null  object
 23  BALANCE                           122882 non-null  float64
 24  BALANCE_FREQUENCY                 122882 non-null  object
 25  CREDIT_LIMIT                      122882 non-null  float64
 26  CASH_ADVANCE                      122882 non-null  float64
 27  CASH_ADVANCE_FREQUENCY            122882 non-null  float64
 28  CASH_ADVANCE_TRX                  122882 non-null  float64
dtypes: float64(12), int8(1), object(16)
memory usage: 26.4+ MB

In [31]:
df.columns

Index(['CUSTOMER_ID', 'SEX', 'AGE', 'OCCUPATION', 'EDUCATION_LEVEL',
       'REGISTRATION_DATE', 'HOBBIES', 'PURCHASES', 'ONEOFF_PURCHASES',
       'INSTALLMENTS_PURCHASES', 'PURCHASES_FREQUENCY',
       'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY',
       'PURCHASES_TRX', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT',
       'DATE', 'EMPLOYMENT_STATUS', 'MARITAL_STATUS', 'GENDER', 'DEPENDENTS',
       'BANK_ACCOUNT_TYPE', 'BALANCE', 'BALANCE_FREQUENCY', 'CREDIT_LIMIT',
       'CASH_ADVANCE', 'CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_TRX'],
      dtype='object')

In [32]:
df.isnull().sum()

CUSTOMER_ID                         0
SEX                                 0
AGE                                 0
OCCUPATION                          0
EDUCATION_LEVEL                     0
REGISTRATION_DATE                   0
HOBBIES                             0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
PURCHASES_TRX                       0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
DATE                                0
EMPLOYMENT_STATUS                   0
MARITAL_STATUS                      0
GENDER                              0
DEPENDENTS                          0
BANK_ACCOUNT_TYPE                   0
BALANCE                             0
BALANCE_FREQUENCY                   0
CREDIT_LIMIT                        0
CASH_ADVANCE                        0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
dtype: int64

In [33]:
df.duplicated().sum()

0

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [35]:
data=df.copy()

In [36]:
data[['SEX','OCCUPATION','EDUCATION_LEVEL',
       'HOBBIES','PURCHASES_FREQUENCY',
       'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY',
       'EMPLOYMENT_STATUS', 'MARITAL_STATUS', 'GENDER', 'DEPENDENTS',
       'BANK_ACCOUNT_TYPE','BALANCE_FREQUENCY']].head()

,SEX,OCCUPATION,EDUCATION_LEVEL,HOBBIES,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,EMPLOYMENT_STATUS,MARITAL_STATUS,GENDER,DEPENDENTS,BANK_ACCOUNT_TYPE,BALANCE_FREQUENCY
0,FEMALE,Undisclosed,Undisclosed,Undisclosed,Very low,Very low,Very low,Unemployed,Single,West,No Dependents,Savings,Very high
1,FEMALE,Undisclosed,Undisclosed,Undisclosed,Very low,Very low,Very low,Unemployed,Single,West,No Dependents,Savings,Very high
2,MALE,Undisclosed,Undisclosed,Undisclosed,Very low,Very low,Very low,Unemployed,Single,West,No Dependents,Savings,High
3,FEMALE,Undisclosed,Undisclosed,Undisclosed,Very low,Very low,Very low,Unemployed,Single,West,No Dependents,Savings,High
4,MALE,Undisclosed,Undisclosed,Undisclosed,Very low,Very low,Very low,Employed,Married,North,Two Dependents,Credit,Very high

In [37]:
import pandas as pd

In [38]:
status=pd.get_dummies(data[['SEX','OCCUPATION','EDUCATION_LEVEL',
       'HOBBIES','PURCHASES_FREQUENCY',
       'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY',
       'EMPLOYMENT_STATUS', 'MARITAL_STATUS', 'GENDER', 'DEPENDENTS',
       'BANK_ACCOUNT_TYPE','BALANCE_FREQUENCY']])

In [39]:
status.head()

,SEX_FEMALE,SEX_MALE,OCCUPATION_Undisclosed,OCCUPATION_adm-clerical,OCCUPATION_armed-forces,OCCUPATION_craft-repair,OCCUPATION_exec-managerial,OCCUPATION_farming-fishing,OCCUPATION_handlers-cleaners,OCCUPATION_machine-op-inspct,...,DEPENDENTS_Two Dependents,BANK_ACCOUNT_TYPE_Business,BANK_ACCOUNT_TYPE_Checking,BANK_ACCOUNT_TYPE_Credit,BANK_ACCOUNT_TYPE_Savings,BALANCE_FREQUENCY_Average,BALANCE_FREQUENCY_High,BALANCE_FREQUENCY_Low,BALANCE_FREQUENCY_Very high,BALANCE_FREQUENCY_Very low
0,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
1,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
2,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
3,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
4,False,True,True,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,True,False

In [40]:
data=pd.concat([data,status],axis=1)

In [41]:
data.head()

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,...,DEPENDENTS_Two Dependents,BANK_ACCOUNT_TYPE_Business,BANK_ACCOUNT_TYPE_Checking,BANK_ACCOUNT_TYPE_Credit,BANK_ACCOUNT_TYPE_Savings,BALANCE_FREQUENCY_Average,BALANCE_FREQUENCY_High,BALANCE_FREQUENCY_Low,BALANCE_FREQUENCY_Very high,BALANCE_FREQUENCY_Very low
0,PNC8037640c-94ea-4339-9665-ae95266fb,FEMALE,49,Undisclosed,Undisclosed,2000-05-12,Undisclosed,101.124,0.0,103.986,...,False,False,False,False,True,False,False,False,True,False
1,PNCa191f74d-5afb-48f6-86eb-8b192cc6f,FEMALE,30,Undisclosed,Undisclosed,2006-05-12,Undisclosed,98.739,0.0,103.032,...,False,False,False,False,True,False,False,False,True,False
2,PNC4dcce459-619d-4bc1-b4f9-3f33c4b20,MALE,20,Undisclosed,Undisclosed,2021-04-12,Undisclosed,98.739,0.0,89.676,...,False,False,False,False,True,False,True,False,False,False
3,PNC17e507c0-0854-4785-8aa0-d77e1be74,FEMALE,25,Undisclosed,Undisclosed,2022-06-12,Undisclosed,102.078,0.0,88.722,...,False,False,False,False,True,False,True,False,False,False
4,PNCbc85f095-e62d-4b8f-9a57-22ea37cc2,MALE,61,Undisclosed,Undisclosed,2007-08-12,Undisclosed,0.000,0.0,0.000,...,True,False,False,True,False,False,False,False,True,False

In [42]:
data.drop(['SEX','OCCUPATION','EDUCATION_LEVEL',
       'HOBBIES','PURCHASES_FREQUENCY',
       'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY',
       'EMPLOYMENT_STATUS', 'MARITAL_STATUS', 'GENDER', 'DEPENDENTS',
       'BANK_ACCOUNT_TYPE','BALANCE_FREQUENCY'],axis=1,inplace=True)

In [43]:
data.head()

,CUSTOMER_ID,AGE,REGISTRATION_DATE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,...,DEPENDENTS_Two Dependents,BANK_ACCOUNT_TYPE_Business,BANK_ACCOUNT_TYPE_Checking,BANK_ACCOUNT_TYPE_Credit,BANK_ACCOUNT_TYPE_Savings,BALANCE_FREQUENCY_Average,BALANCE_FREQUENCY_High,BALANCE_FREQUENCY_Low,BALANCE_FREQUENCY_Very high,BALANCE_FREQUENCY_Very low
0,PNC8037640c-94ea-4339-9665-ae95266fb,49,2000-05-12,101.124,0.0,103.986,1.86,211.892188,150.670570,0.000000,...,False,False,False,False,True,False,False,False,True,False
1,PNCa191f74d-5afb-48f6-86eb-8b192cc6f,30,2006-05-12,98.739,0.0,103.032,2.12,213.910209,132.534298,0.000000,...,False,False,False,False,True,False,False,False,True,False
2,PNC4dcce459-619d-4bc1-b4f9-3f33c4b20,20,2021-04-12,98.739,0.0,89.676,1.82,215.928230,131.139200,0.000000,...,False,False,False,False,True,False,True,False,False,False
3,PNC17e507c0-0854-4785-8aa0-d77e1be74,25,2022-06-12,102.078,0.0,88.722,1.86,183.639896,147.880374,0.000000,...,False,False,False,False,True,False,True,False,False,False
4,PNCbc85f095-e62d-4b8f-9a57-22ea37cc2,61,2007-08-12,0.000,0.0,0.000,0.00,4103.032597,1072.340217,0.222222,...,True,False,False,True,False,False,False,False,True,False

In [44]:
X=data.drop(['CUSTOMER_ID','REGISTRATION_DATE','DATE'],axis=1)

In [45]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
Scaler=MinMaxScaler()

In [47]:
X.head()

,AGE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,BALANCE,CREDIT_LIMIT,...,DEPENDENTS_Two Dependents,BANK_ACCOUNT_TYPE_Business,BANK_ACCOUNT_TYPE_Checking,BANK_ACCOUNT_TYPE_Credit,BANK_ACCOUNT_TYPE_Savings,BALANCE_FREQUENCY_Average,BALANCE_FREQUENCY_High,BALANCE_FREQUENCY_Low,BALANCE_FREQUENCY_Very high,BALANCE_FREQUENCY_Very low
0,49,101.124,0.0,103.986,1.86,211.892188,150.670570,0.000000,42.332275,1050.0,...,False,False,False,False,True,False,False,False,True,False
1,30,98.739,0.0,103.032,2.12,213.910209,132.534298,0.000000,38.446704,1090.0,...,False,False,False,False,True,False,False,False,True,False
2,20,98.739,0.0,89.676,1.82,215.928230,131.139200,0.000000,37.219682,910.0,...,False,False,False,False,True,False,True,False,False,False
3,25,102.078,0.0,88.722,1.86,183.639896,147.880374,0.000000,42.945786,940.0,...,False,False,False,False,True,False,True,False,False,False
4,61,0.000,0.0,0.000,0.00,4103.032597,1072.340217,0.222222,3202.467416,7000.0,...,True,False,False,True,False,False,False,False,True,False

In [48]:
Scaler.fit(X)
X_Train_scaled=Scaler.transform(X)

In [49]:
X_Train_scaled

array([[0.6       , 0.00206209, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.22      , 0.00201346, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.02      , 0.00201346, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.46      , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.96      , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ]])

In [50]:
from sklearn.cluster import KMeans  
 
wcss_list= []  #Initializing the list for the values of WCSS  
 
#Using for loop for iterations from 1 to 10.  
 
for i in range(1, 11):  
 
    kmeans = KMeans(n_clusters=i, init='k-means++', random_state= 42)  
 
    kmeans.fit(X_Train_pca_df)  
 
    wcss_list.append(kmeans.inertia_)  
 
plt.plot(range(1, 11), wcss_list)  
 
plt.title('The Elobw Method Graph')  
 
plt.xlabel('Number of clusters(k)')  
 
plt.ylabel('wcss_list')  
 
plt.show()

NameError: name 'X_Train_pca_df' is not defined

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

# Assuming X_Train_scaled is already defined and scaled

# Initialize PCA with the number of components you want
pca = PCA(n_components=2)

# Fit and transform the scaled training data
X_Train_pca = pca.fit_transform(X_Train_scaled)

# Convert the PCA result to a DataFrame
X_Train_pca_df = pd.DataFrame(X_Train_pca, columns=['PC1', 'PC2'])

# Perform K-means clustering
kmeans = KMeans(n_clusters=4)  # Adjust the number of clusters as needed
kmeans.fit(X_Train_pca_df)

# Add the cluster labels to the DataFrame
X_Train_pca_df['Cluster'] = kmeans.labels_

# Plot the clusters
plt.figure(figsize=(10, 7))
plt.scatter(X_Train_pca_df['PC1'], X_Train_pca_df['PC2'], c=X_Train_pca_df['Cluster'], cmap='viridis')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.title('PCA and K-means Clustering')
plt.show()

In [ ]:
combined_df = pd.concat([df, X_Train_pca_df], axis=1)

In [ ]:
combined_df.head()

In [ ]:
combined_df['Cluster'].value_counts()

In [ ]:
pip install snowflake-connector-python

In [ ]:
import pandas as pd
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas

In [ ]:
import logging
import snowflake.connector

# Enable logging
logging.basicConfig(level=logging.DEBUG)

# Establish the connection
conn = snowflake.connector.connect(
    user='AKASHDESHMUKH',
    password='ACDcsd@800',
    account='LTIFOSFORPLAYGROUND.us-west-1.aws',
    role='AKASHDESHMUKH',
    warehouse='FDC_WAREHOUSE',
    login_timeout=60  # Increase the timeout to 60 seconds
)

# Create a cursor object
cursor = conn.cursor()

In [ ]:
combined_df['Cluster'].value_counts()