In [12]:
#code to read data from snowflake using FosforML
 
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()
 
table_name = 'CUSTOMER_TRANSACTION_DIM1'
 
sf_df = my_session.sql("select * from {}".format(table_name)) #Table info sf_df madhe ghetli

df = sf_df.to_pandas() #table la data frame madhe store krto
 
print(df.shape) #for record count

df.head() #to see data

(122882, 29)

In [13]:
df.head(122882)

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,...,MARITAL_STATUS,GENDER,DEPENDENTS,BANK_ACCOUNT_TYPE,BALANCE,BALANCE_FREQUENCY,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
0,PNC8037640c-94ea-4339-9665-ae95266fb,FEMALE,49,Undisclosed,Undisclosed,2000-05-12,Undisclosed,101.124,0.0,103.986,...,Single,West,No Dependents,Savings,42.332275,Very high,1050.0,0.000000,0.00,0.0
1,PNCa191f74d-5afb-48f6-86eb-8b192cc6f,FEMALE,30,Undisclosed,Undisclosed,2006-05-12,Undisclosed,98.739,0.0,103.032,...,Single,West,No Dependents,Savings,38.446704,Very high,1090.0,0.000000,0.00,0.0
2,PNC4dcce459-619d-4bc1-b4f9-3f33c4b20,MALE,20,Undisclosed,Undisclosed,2021-04-12,Undisclosed,98.739,0.0,89.676,...,Single,West,No Dependents,Savings,37.219682,High,910.0,0.000000,0.00,0.0
3,PNC17e507c0-0854-4785-8aa0-d77e1be74,FEMALE,25,Undisclosed,Undisclosed,2022-06-12,Undisclosed,102.078,0.0,88.722,...,Single,West,No Dependents,Savings,42.945786,High,940.0,0.000000,0.00,0.0
4,PNCbc85f095-e62d-4b8f-9a57-22ea37cc2,MALE,61,Undisclosed,Undisclosed,2007-08-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,3202.467416,Very high,7000.0,6442.945483,0.25,4.0