In [12]:
#code to read data from snowflake using FosforML
 
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()
 
table_name = 'CUSTOMER_TRANSACTION_DIM1'
 
sf_df = my_session.sql("select * from {}".format(table_name)) #Table info sf_df madhe ghetli

df = sf_df.to_pandas() #table la data frame madhe store krto
 
print(df.shape) #for record count

df.head() #to see data

(122882, 29)

In [14]:
df.head(122882)

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,...,MARITAL_STATUS,GENDER,DEPENDENTS,BANK_ACCOUNT_TYPE,BALANCE,BALANCE_FREQUENCY,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
0,PNC8037640c-94ea-4339-9665-ae95266fb,FEMALE,49,Undisclosed,Undisclosed,2000-05-12,Undisclosed,101.124,0.0,103.986,...,Single,West,No Dependents,Savings,42.332275,Very high,1050.0,0.000000,0.000000,0.000
1,PNCa191f74d-5afb-48f6-86eb-8b192cc6f,FEMALE,30,Undisclosed,Undisclosed,2006-05-12,Undisclosed,98.739,0.0,103.032,...,Single,West,No Dependents,Savings,38.446704,Very high,1090.0,0.000000,0.000000,0.000
2,PNC4dcce459-619d-4bc1-b4f9-3f33c4b20,MALE,20,Undisclosed,Undisclosed,2021-04-12,Undisclosed,98.739,0.0,89.676,...,Single,West,No Dependents,Savings,37.219682,High,910.0,0.000000,0.000000,0.000
3,PNC17e507c0-0854-4785-8aa0-d77e1be74,FEMALE,25,Undisclosed,Undisclosed,2022-06-12,Undisclosed,102.078,0.0,88.722,...,Single,West,No Dependents,Savings,42.945786,High,940.0,0.000000,0.000000,0.000
4,PNCbc85f095-e62d-4b8f-9a57-22ea37cc2,MALE,61,Undisclosed,Undisclosed,2007-08-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,3202.467416,Very high,7000.0,6442.945483,0.250000,4.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122877,918139c9-f707-4a56-90b3-1ae3a2085b64,MALE,60,handlers-cleaners,Associate,2004-08-12,movies,0.000,0.0,0.000,...,Single,West,One Dependent,Checking,1559.398672,Very high,1365.0,248.561265,0.437500,6.580
122878,72cc7528-8ae0-4c1b-9155-b070b0b16a78,MALE,25,prof-specialty,PhD,2021-11-12,base-jumping,0.000,0.0,0.000,...,Single,West,One Dependent,Checking,1326.217562,Very high,1447.5,228.439639,0.383334,6.510
122879,8eff19f8-9db4-409a-aa92-4a3ec1cbaee9,FEMALE,19,armed-forces,Associate,2022-10-12,sleeping,0.000,0.0,0.000,...,Single,West,One Dependent,Checking,1384.512839,Very high,1425.0,255.663015,0.383334,6.510
122880,8127a4bb-5bce-41d6-be11-655ad9ea31fe,MALE,42,protective-serv,JD,2001-12-12,reading,0.000,0.0,0.000,...,Single,West,One Dependent,Checking,1384.512839,Very high,1395.0,258.030265,0.387500,6.510
122881,a5062f35-0ef7-4139-90c4-30a8dd605bf1,MALE,67,prof-specialty,MD,2021-04-12,reading,0.000,0.0,0.000,...,Single,East,One Dependent,Checking,1048.703021,Very high,1158.0,978.683360,0.090000,0.965

In [16]:
df.describe()

,AGE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,BALANCE,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
count,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000
mean,43.797562,1099.564457,664.464070,433.436971,15.651714,1905.326844,904.191004,0.144282,1754.150353,4992.170999,1040.357561,0.138151,3.330813
std,14.657011,2326.985730,1796.346935,968.862796,26.447019,3097.091529,2492.709290,0.283152,2212.505505,3785.952399,2177.373457,0.203030,6.875069
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31.000000,36.660000,0.000000,0.000000,0.940000,436.491025,169.036005,0.000000,174.936826,1944.000000,0.000000,0.000000,0.000000
50%,44.000000,393.760000,70.850000,79.900000,7.360000,969.973369,336.723916,0.000000,1023.875197,3906.000000,0.000000,0.000000,0.000000
75%,56.000000,1219.995600,674.375100,490.990500,18.630000,2088.197081,893.466612,0.107000,2390.085192,6975.000000,1222.121879,0.230000,3.860000
max,69.000000,49039.570000,43873.984800,22500.000000,378.230000,51154.352082,76406.207520,1.000000,20160.158820,30240.000000,47137.211760,1.500000,123.000000

In [19]:
df.corr(numeric_only=True)

,AGE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,BALANCE,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
AGE,1.000000,-0.003422,-0.001764,-0.005442,-0.000449,-0.004286,-0.004130,-0.001723,-0.002690,-0.001197,0.000594,0.001065,-0.000919
PURCHASES,-0.003422,1.000000,0.915501,0.681649,0.689996,0.608238,0.092788,0.196549,0.170269,0.347433,-0.055261,-0.125034,-0.069274
ONEOFF_PURCHASES,-0.001764,0.915501,1.000000,0.342491,0.549837,0.573336,0.047017,0.153391,0.150717,0.308378,-0.037296,-0.091939,-0.051950
INSTALLMENTS_PURCHASES,-0.005442,0.681649,0.342491,1.000000,0.631315,0.391427,0.132151,0.186583,0.126604,0.259333,-0.063515,-0.129466,-0.070100
PURCHASES_TRX,-0.000449,0.689996,0.549837,0.631315,1.000000,0.375372,0.097213,0.178769,0.148087,0.268766,-0.077618,-0.133124,-0.065074
PAYMENTS,-0.004286,0.608238,0.573336,0.391427,0.375372,1.000000,0.128724,0.131356,0.306302,0.409118,0.440467,0.177074,0.250255
MINIMUM_PAYMENTS,-0.004130,0.092788,0.047017,0.132151,0.097213,0.128724,1.000000,-0.131016,0.397366,0.114865,0.140995,0.106273,0.117000
PRC_FULL_PAYMENT,-0.001723,0.196549,0.153391,0.186583,0.178769,0.131356,-0.131016,1.000000,-0.323597,0.091885,-0.148021,-0.246145,-0.170638
BALANCE,-0.002690,0.170269,0.150717,0.126604,0.148087,0.306302,0.397366,-0.323597,1.000000,0.500182,0.486007,0.455957,0.392495
CREDIT_LIMIT,-0.001197,0.347433,0.308378,0.259333,0.268766,0.409118,0.114865,0.091885,0.500182,1.000000,0.288915,0.126776,0.147525
CASH_ADVANCE,0.000594,-0.055261,-0.037296,-0.063515,-0.077618,0.440467,0.140995,-0.148021,0.486007,0.288915,1.000000,0.632405,0.665014
CASH_ADVANCE_FREQUENCY,0.001065,-0.125034,-0.091939,-0.129466,-0.133124,0.177074,0.106273,-0.246145,0.455957,0.126776,0.632405,1.000000,0.806364
CASH_ADVANCE_TRX,-0.000919,-0.069274,-0.051950,-0.070100,-0.065074,0.250255,0.117000,-0.170638,0.392495,0.147525,0.665014,0.806364,1.000000

In [20]:
import matplotlib.pyplot as plt

In [ ]:
fig=plt.figure(figsize=(10,5))
plt.bar(df['CUSTOMER_ID'],df['AGE'],color='Pink', width=0.5